*{
    font--family: "Poppins", sans-serif;
}

.hero{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)
    ),url('../assets/img/hero/hero.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}